@use "./abstracts/vars";
@use "./base";
@use "./layout";
:root {
  --airbnb-pink: #ff385c;
}
.logo {
  width: 150px;
  height: auto;
  fill: var(--airbnb-pink);
}
// nav ul {
//   background-color: white;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
// }
// nav ul li {
//   list-style: none;
//   margin-right: 1rem;
// }

nav {
  //background-color: $color_orange;
  ul {
    display: flex;
    gap: 1rem;
    li {
      a {
        font-family: vars.$font_primary;
        font-weight: bold;
        font-size: 1rem;
        color: black;
        text-decoration: none;

        &:hover,
        &:focus {
          color: vars.$color_orange;
          text-decoration: underline;
        }
      }
    }
  }
}

.btn-ui {
  padding: 1rem;
  background-color: transparent;
  border: 1px solid var(--airbnb-pink);
  cursor: pointer;
}
.btn-ui svg {
  width: 2rem;
  height: auto;
  fill: var(--airbnb-pink);
}
.overlay {
  position: fixed;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100vh;
  background-color: limegreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.overlay.active {
  left: 0;
}

.room {
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid green;
}

.room--name {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.room--description {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}
.category {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.category h2 {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}
