@use "../abstracts/vars";

h1 {
  font-size: 3rem;
  font-family: vars.$font_primary;
  font-weight: bold;
  color: black;
}

h2 {
  font-size: 2.5rem;
  font-family: vars.$font_primary;
  font-weight: bold;
  color: vars.$color_red;
}

h3 {
  font-size: 2rem;
  font-family: vars.$font_primary;
  color: black;
}
